@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply bg-gray-50;
}
@layer components{
    .btn{
        @apply bg-blue-500 text-white px-4 py-2 rounded;
    }
}



.page-left-enter-active,
.page-right-enter-active,
.page-left-leave-active,
.page-right-leave-active {
  position: fixed;
  opacity: 0;
  transition: all 150ms ease-out;
}
.page-left-enter-from, .page-right-leave-to {
  transform: translateX(100%);
}
.page-left-leave-to, .page-right-enter-from {
  transform: translateX(-100%);
}
.page-left-enter-to, .page-right-enter-to {
  transform: translateX(0);
  opacity: 1;
}






.dark > body {
    background-color: #091a28;
    color: #ebf4f1;
}

.cp-btn,
.cp-btn-2 {
  border: unset;
  outline: unset;
  display: block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}
.cp-btn {
  z-index: 1;
}
.cp-btn:before, .cp-btn:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}
.cp-btn:before {
  animation: rainbow-border 1.5s linear infinite;
  border-radius: 1px;
  background: linear-gradient(70deg, #0ebeff, #ffdd40, #ae63e4, #47cf73, #0ebeff, #ffdd40, #ae63e4, #47cf73);
  width: 100%;
  height: 100%;
  background-size: 200% 200%;
}
.cp-btn:after {
  border-radius: 2px;
  margin: 2px;
  background: inherit;
}
.cp-btn-2 {
  background: linear-gradient(70deg, #0ebeff, #ffdd40, #ae63e4, #47cf73, #0ebeff, #ffdd40, #ae63e4, #47cf73);
  animation: rainbow-border 1.5s linear infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200% 200%;
}

@keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}