<!DOCTYPE html>
<html >
<head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="modulepreload" as="script" crossorigin href="/static/entry.ff60f4bd.js"><link rel="preload" as="style" href="/static/entry.414b03c5.css"><link rel="prefetch" as="script" crossorigin href="/static/default.5fb590c8.js"><link rel="prefetch" as="script" crossorigin href="/static/error-component.5ced8697.js"><link rel="stylesheet" href="/static/entry.414b03c5.css"></head>
<body ><div id="__nuxt"></div><script>window.__NUXT__={serverRendered:false,config:{public:{},app:{baseURL:"\u002F",buildAssetsDir:"\u002Fstatic\u002F",cdnURL:""}},data:{},state:{}}</script><script type="module" src="/static/entry.ff60f4bd.js" crossorigin></script></body>
</html>